# Base
node_modules/
!.gitkeep
!__mocks__
__*

# Built Files & Log
.build/
dist/
*.cache
/build/*.js
.cache/
*.log
*.d.ts
*.js.map
*.tsbuildinfo
*.hydro
.coverage
globalConfig.json

# Config Files
config.yaml
config.json
yarn.lock
tsconfig.json

# Project Rules
!/build/prebuild.js
!**/bin/*.js
packages/**/*.js
!packages/hydrojudge/service.js
packages/**/*.js.map
packages/**/*.d.ts

# Data files
*.mmdb
