[submodule "customize"]
path = packages/customize
url = https://github.com/hydro-dev/customize.git

[submodule "testlib"]
path = packages/hydrojudge/vendor/testlib
url = https://github.com/MikeMirzayanov/testlib.git
