node_modules/
config.yaml
config.json
.build/
dist/
.cache/
*.cache
__*
ui/misc/.iconfont
ui/static/locale
*.log
*.d.ts
build/*.js
*.js.map
*.hydro
!.gitkeep
*.tsbuildinfo
yarn.lock

packages/**/*.js
!**/bin/*.js
packages/**/*.js.map
packages/**/*.d.ts

*.mmdb

.coverage
!__mocks__
globalConfig.json