<div class="dialog dialog--signin" style="display:none">
  <div class="dialog__content">
    <div class="dialog--signin__bg">
      <div class="dialog--signin__side">
        <h1>{{ _("Don't have an account?") }}</h1>
        <p>{{ _('By signing up a Hydro universal account, you can submit code and join discussions in all online judging services provided by us.') }}</p>
        <div><a href="{{ url('user_register') }}" class="inverse rounded button">{{ _('Sign Up Now') }}</a></div>
      </div>
    </div>
    <div class="dialog--signin__main">
      <form action="{{ url('user_login') }}" method="post">
        <div class="dialog--signin__close-container supplementary">
          <a name="dialog--signin__close" href="javascript:;">{{ _('CLOSE') }}</a>
        </div>
        <h1 class="dialog--signin__title">{{ _('SIGN IN') }}</h1>
        <p class="dialog--signin__note">{{ _('Using your Hydro universal account') }}</p>
        <div class="row"><div class="columns">
          <label class="material textbox">
            {{ _('Username') }}
            <input name="uname" type="text" data-autofocus>
          </label>
        </div></div>
        <div class="row"><div class="columns">
          <label class="material textbox">
            {{ _('Password') }}
            <input name="password" type="password">
          </label>
        </div></div>
        <div class="row"><div class="columns">
          <label class="checkbox">
            <input type="checkbox" name="rememberme">{{ _('Remember me') }}
          </label>
        </div></div>
        <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
        <div class="row"><div class="columns">
          <a href="{{ url('user_oauth', type='github') }}" class="expanded rounded button">{{ _('Login with Github') }}</a>
        </div></div>
        <div class="row"><div class="columns">
          <a href="{{ url('user_oauth', type='google') }}" class="expanded rounded button">{{ _('Login with Google') }}</a>
        </div></div>
        <div class="row"><div class="columns">
          <input type="submit" value="{{ _('Sign In') }}" class="expanded rounded primary button">
        </div></div>
        <div class="row"><div class="columns">
          <div class="supplementary text-center">
            <a href="{{ url('user_lostpass') }}">{{ _('Forgot password or username?') }}</a>
          </div>
        </div></div>
      </form>
    </div>
  </div>
</div>
