<form method="post">
{% for family, family_settings in settings|groupby('family') %}
  <div class="section__header">
    <h1 class="section__title" id="{{ family }}" data-heading>{{ _(family) }}</h1>
  </div>
  <div class="section__body">
  {% for setting in family_settings %}
  {% if not setting.hidden %}
  {% if setting.ui == 'text' or setting.ui == 'password' or setting.ui == 'number' %}
    {{ form.form_text({
          type:setting.ui,
          label:setting.name,
          help_text:setting.desc,
          name:setting.key,
          value:current[setting.key] or setting.value
        }) }}
  {% elif setting.ui == 'select' %}
    {{ form.form_select({
          options:setting.range,
          label:setting.name,
          help_text:setting.desc,
          name:setting.key,
          value:current[setting.key] or setting.value
        }) }}
  {% elif setting.ui == 'radio' %}
    {{ form.form_radio({
          options:setting.range,
          label:setting.name,
          help_text:setting.desc,
          name:setting.key,
          value:current[setting.key] or setting.value
        }) }}
  {% elif setting.ui == 'image_radio' %}
    {{ form.form_image_radio({
          options:setting.range,
          image_class:setting.image_class,
          label:setting.name,
          help_text:setting.desc,
          name:setting.key,
          value:current[setting.key] or setting.value
        }) }}
  {% elif setting.ui == 'textarea' %}
    {{ form.form_textarea({
          label:setting.name,
          help_text:setting.desc,
          name:setting.key,
          value:current[setting.key] or setting.value
        }) }}
  {% elif setting.ui == 'markdown' %}
    {{ form.form_textarea({
          label:setting.name,
          help_text:setting.desc,
          name:setting.key,
          value:current[setting.key] or setting.value,
          markdown:true
        }) }}
  {% elif setting.ui == 'checkbox' %}
    {{ form.form_checkbox({
          label:setting.name,
          help_text:setting.desc,
          name:setting.key,
          value:current[setting.key] or setting.value
    })}}
  {% endif %}
  {% endif %}
  {% endfor %}
  </div>
{% endfor %}
  <div class="section__body">
    <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
    <input type="submit" class="rounded primary button" value="{{ _('Save All Changes') }}">
  </div>
</form>