.drop-element.autocomplete
  max-width: rem(250px)

  .empty-row
    color: $autocomplete-empty-row-color
    font-size: $(font-size-small)
    padding: rem(10px)

  .menu
    max-height: rem(250px)
    overflow: auto
