{% import "components/nothing.html" as nothing with context %}
<div class="section__body no-padding videos" data-fragment-id="videos">
  {% if videos.length %}
    <table class="data-table">
      <colgroup>
	{% if handler.user.hasPerm(perm.PERM_EDIT_HOMEWORK) %}
        <col class="col--checkbox">
	{% endif %}
        <col class="col--name">
      </colgroup>
      <thead>
        <tr>
	  {% if handler.user.hasPerm(perm.PERM_EDIT_HOMEWORK) %}
          <th class="col--checkbox">
            <label class="compact checkbox">
              <input type="checkbox" name="select_all" data-checkbox-toggle="videos">
            </label>
          </th>
	  {% endif %}
          <th class="col--name">{{ _('Videos') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for video in videos -%}
        <tr data-filename="{{ video.name }}">
	{% if handler.user.hasPerm(perm.PERM_EDIT_HOMEWORK) %}
          <td class="col--checkbox">
            <label class="compact checkbox">
              <input type="checkbox" data-checkbox-group="videos" data-checkbox-range>
            </label>
          </td>
	{% endif %}
          <td class="col--name" data-preview>
            <a href="{{ video.url }}" target="_blank">{{ video.name }}</a>
          </td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  {% else %}
    {{ nothing.render('There are no videos currently.') }}
  {% endif %}
</div>
