.user-profile-avatar
  border-radius: 50%

.user-profile-badge
  display: inline-block
  font-size: rem(12px)
  padding: rem(3px 4px)
  line-height: 1

  &:hover
    text-decoration: none

for key, _ in $badge-bg-color
  .badge--{key}
    background-color: $badge-bg-color[key] !important
    color: $badge-text-color[key] !important
