<!DOCTYPE html>
<html>
<head>
  <title>Vijos System Error</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <style type="text/css">
    body {
      background: #272822;
      padding-top: 100px;
    }
    pre{
      font-family: "monaco", "Consolas", "Source Code Pro", "Courier New", monospace;
    }
  </style>
</head>
<body>
<div class="code-content" style="text-align: center"><pre style="font-size: 18px; line-height: 125%; display: inline-block; text-align: left; white-space: pre-wrap; word-wrap: break-word;"><span style="color: #75715e">#include &lt;string.h&gt;</span>

<span style="color: #66d9ef">int</span> <span style="color: #a6e22e">main</span><span style="color: #f8f8f2">()</span> <span style="color: #f8f8f2">{</span>
  <span style="color: #66d9ef">char</span> <span style="color: #f8f8f2">answer[</span><span style="color: #ae81ff">42</span><span style="color: #f8f8f2">];</span>
  <span style="color: #f8f8f2">strcpy(answer,</span> <span style="color: #e6db74">&quot;twd2 will tell you the answer to life the universe and everything,&quot;</span><span style="color: #f8f8f2">);</span>
  <span style="color: #f8f8f2">strcpy(answer,</span> <span style="color: #e6db74">&quot;but first of all, he is very sorry that Vijos meets some issues now.&quot;</span><span style="color: #f8f8f2">);</span>
  <span style="color: #f8f8f2">strcpy(answer,</span> <span style="color: #e6db74">&quot;please <a href="javascript:window.location.reload()" style="color: #e6db74" title="Try again">wait patiently</a>, or <a style="color: #e6db74" href="mailto:twd2@163.com">contact twd2</a> impatiently about this error.&quot;</span><span style="color: #f8f8f2">);</span>
  <span style="color: #66d9ef">return</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">;</span>
<span style="color: #f8f8f2">}</span>
</pre></div>
</body>
</html>
