{% set page_name = "contest_scoreboard" %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row"><div class="medium-12 columns">
  <div class="section visible">
    <div class="section__header">
      <a class="button" target="_blank" href="/c/{{ tdoc._id }}/export/html">
        <span class="icon icon-download"></span> {{ _('Export as HTML') }}
      </a>
      <a class="button" href="/c/{{ tdoc._id }}/export/csv">
        <span class="icon icon-download"></span> {{ _('Export as CSV') }}
      </a>
    </div>
    <div class="section__body no-padding">
      <table class="data-table">
        <colgroup>
        {%- for column in rows[0] -%}
          <col class="col--{{ column['type'] }}">
        {%- endfor -%}
        </colgroup>
        <thead>
          <tr>
          {%- for column in rows[0] -%}
            <th class="col--{{ column['type'] }}">
            {% if column.type == 'problem_detail' %}
              <a href="/c/{{ tdoc._id }}/p/{{ column.raw._id }}" data-tooltip="{{ column['raw']['title'] }}">{{ column['value'] }}</a>
            {% else %}
              {{ column.value }}
            {% endif %}
            </th>
          {%- endfor -%}
          </tr>
        </thead>
        <tbody>
        {%- for row in rows -%}{% if loop.index0>0 %}
          <tr>
            {%- for column in row -%}
              <td class="col--{{ rows[0][loop.index0]['type'] }}">
              {% if column.type == 'user' %}
                {{ user.render_inline(column.raw, badge=false) }}
              {% elif column.type == 'record' and column.raw %}
                <a href="/r/{{ column.raw }}">{{ column.value }}</a>
              {% else %}
                {{ column.value }}
              {% endif %}
              </td>
            {%- endfor -%}
          </tr>
        {% endif %}{%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
</div></div>
{% endblock %}
