<meta charset="UTF-8">
<style>
  body {
    font-family: "Open Sans", "Seravek", "Segoe UI", "Verdana", "PingFang SC", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans";
    font-size: 14px;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
  }
  th, td {
    text-align: left;
    border: 1px solid #CCC;
    padding: 5px;
  }
  thead tr {
    background: #5f9fd6;
    color: #FFF;
  }
  tbody tr:nth-child(even) {
    background: #F0F0F0;
  }
</style>
<table>
  <thead>
    <tr>
    {%- for column in rows[0] -%}
      <th class="col--{{ column['type'] }}">
        {{ column['value'] }}
      </th>
    {%- endfor -%}
    </tr>
  </thead>
  <tbody>
  {%- for row in rows[1:] -%}
    <tr>
      {%- for column in row -%}
        <td>
          {{ column['value'] }}
        </td>
      {%- endfor -%}
    </tr>
  {%- endfor -%}
  </tbody>
</table>
