{% extends "layout/home_base.html" %}
{% block home_content %}
<div class="section">
  <div class="section__header">
    <h1 class="section__title">{{ _('My Files') }}</h1>
    <div class="section__tools">
    {% if handler.user.hasPriv(model.builtin.PRIV.PRIV_CREATE_FILE) %}
      <a class="primary rounded button" href="{{ url('file_upload') }}" target="_blank"><span class="icon icon-add"></span> {{ _('Upload File') }}</a>
    {% endif %}
      <a class="tool-button" href="{{ url('wiki', page='help', anchor='file') }}"><span class="icon icon-help"></span> {{ _("What's file?") }}</a>
    </div>
  </div>
  <div class="section__body no-padding">
    <table class="data-table">
      <colgroup>
        <col class="col--desc">
        <col class="col--length">
        <col class="col--hash">
        <col class="col--action">
      </colgroup>
      <thead>
        <tr>
          <th class="col--desc">{{ _('Description') }}</th>
          <th class="col--length">{{ _('Size') }}</th>
          <th class="col--hash">{{ _('Hash') }}</th>
          <th class="col--action">{{ _('Action') }}</th>
        </tr>
      </thead>
      <tbody>
      {% for ufdoc in ufdocs %}
        <tr>
          <td class="col--desc">{{ ufdoc.filename }}</td>
          <td class="col--length">{{ size(ufdoc.size) if ufdoc.size else '?' }}</td>
          <td class="col--hash">{{ ufdoc.md5|default('?') }}</td>
          <td class="col--action"><a class="typo-a" href="{{ model.file.url(ufdoc) }}">{{ _('Download') }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
