{% extends "manage_base.html" %}
{% block manage_content %}
<div style="display: none" class="dialog__body--add-module">
  <div>
    <div class="row"><div class="columns">
      <h1>{{ _('Add Module') }}</h1>
    </div></div>
    <div class="row">
      <div class="medium-12 columns">
        <label>
          {{ _('URL') }}
          <input name="url" type="text" class="textbox" autocomplete="off" data-autofocus>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="section__header">
    <h1 class="section__title">{{ _('Installed Modules') }}</h1>
    <div class="section__tools">
      <button class="primary rounded button" name="add_module"><span class="icon icon-add"></span> {{ _('Add module') }}</button>
      <a class="tool-button" href="{{ url('wiki', page='help', anchor='module') }}"><span class="icon icon-help"></span> {{ _("What's module?") }}</a>
    </div>
  </div>
  <div class="section__body no-padding">
    <table class="data-table">
      <colgroup>
        <col class="col--id">
        <col class="col--desc">
        <col class="col--size">
        <col class="col--version">
        <col class="col--action">
      </colgroup>
      <thead>
        <tr>
          <th class="col--id">{{ _('ID') }}</th>
          <th class="col--desc">{{ _('Description') }}</th>
          <th class="col--size">{{ _('Size') }}</th>
          <th class="col--version">{{ _('Version') }}</th>
          <th class="col--action">{{ _('Action') }}</th>
        </tr>
      </thead>
      <tbody>
      {% for module in installed %}
        <tr>
          <td class="col--id">{{ module.id }}</td>
          <td class="col--desc">{{ _(module.description|default(_('None'))) }}</td>
          <td class="col--size">{{ size(module.size) if module.size else '?' }}</td>
          <td class="col--version">{{ module.version|default('?') }}</td>
          <td class="col--action">
            <form method="post">
              <input type="hidden" name="operation" value="delete">
              <input type="hidden" name="id" value="{{ module.filename }}">
              <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
              <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
              <input type="submit" class="typo-a" value="{{ _('Delete') }}">
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
