{% set page_name = "problem_detail" %}
{% extends "layout/basic.html" %}
{% block content %}
<script>
  var Context = {
    'problemId': "{{ pdoc.pid }}",
    'postSubmitUrl': "/p/{{ pdoc.pid }}/submit",
    'getSubmissionsUrl': "/p/{{ pdoc.pid }}/submit",
    'getRecordDetailUrl': "/r/{rid}",
    'code_lang': "{{ handler.user.codeLang }}",
    'code_template': "{{ handler.user.codeTemplate }}",
  };
</script>
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="problem-content-container"><div class="problem-content" data-marker-enabled>
        <div class="section__header non-scratchpad--hide">
          <h1>{{ pdoc['title'] }}</h1>
        </div>
        <div class="section__body typo">
        {% if not pdoc['data'] %}
          <blockquote class="warn">
            <p>{{ _('No dataset at present.') }}</p>
          </blockquote>
        {% elif typeof(pdoc.data) == 'string' %}
          <blockquote class="note">
            <p>{{ _('Test data comes from') }} <a href="#" target="_blank">{{ pdoc.data.split(':')[1] }}</a></p>
          </blockquote>
        {% endif %}
        {% if tdoc %}
        {% if tdoc['doc_type'] == vj4.model.document.TYPE_CONTEST %}
        {% if handler.is_done(tdoc) %}
          <blockquote class="note">
            <p>{{ _('You cannot submit for this problem because the contest is ended. You can click "Open in Problem Set" to view this problem in normal mode.') }}</p>
          </blockquote>
        {% endif %}{# handler.is_done(tdoc) #}
        {% endif %}{# tdoc['doc_type'] == vj4.model.document.TYPE_CONTEST #}
        {% endif %}{# tdoc #}
          {{ pdoc['content']|markdown|safe }}
        </div>
      </div></div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% set owner_udoc = udoc %}
    {% set owner_dudoc = dudoc %}
    {% include "partials/problem_sidebar.html" %}
  </div>
</div>
<div class="scratchpad-container" style="display:none">
  <div style="display:none" class="loader-container"><div class="loader"></div></div>
  <div id="scratchpad" style="opacity:0"></div>
</div>
{% endblock %}
