{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Submission Statistics') }}</h1>
      </div>
      <div class="section__body">
        {{ _('Swx Template') }}
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% with owner_udoc=udoc, owner_dudoc=dudoc %}
    {% include "partials/problem_sidebar.html" %}
    {% endwith %}
  </div>
</div>
{% endblock %}
