{% set page_name = "problem_settings" %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Dataset') }}</h1>
      </div>
      <div class="section__body">
        <iframe src="/p/{{ pdoc.pid }}/upload" frameborder="0" style="width: 100%; height: 100px;"></iframe>
        <p class="help-text">{{ _('Hint') }}: <a href="/wiki/help#upload">{{ _('Dataset Format') }}</a>, {{ _('An example of dataset') }}: <a href="https://github.com/vijos/jd4/blob/master/jd4/testdata/aplusb-legacy.zip?raw=true">{{ _('Download') }}</a></p>
        {% if pdoc and (pdoc.owner == user._id or handler.hasPerm(perm.PERM_READ_PROBLEM_DATA)) %}
        <p><a href="/p/{{ pdoc.pid }}/data" class="expanded button">{{ _('Download Dataset') }}</a></p>
        {% endif %}
      </div>
    </div>
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Settings') }}</h1>
      </div>
      <div class="section__body">
        <form method="post">
          {{ form.form_checkbox({
               label:'Hidden', 
               help_text:'Note: Problem title may not be hidden.', 
               name:'hidden', 
               value:pdoc['hidden']
             }) }}
          {{ form.form_text({
               columns:12, 
               label:'Category', 
               help_text:'Format: category 1, sub category 1.1, sub category 1.2, ..., sub category 1.x, ..., category n, sub category n.1, sub category n.2, ..., sub category n.m, ...', 
               name:'category', 
               value:pdoc['category']|join(', ')
             }) }}
          {{ form.form_text({
               columns:12, 
               label:'Tags', 
               help_text:'Splitted by \', \'.', 
               name:'tag', 
               value:pdoc['tag']|join(', ')
             }) }}
          <div class="row"><div class="columns">
            <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
            <button type="submit" class="rounded primary button">
              {{ _('Update') }}
            </button>
          </div></div>
        </form>
      </div>
    </div>
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Categories') }} ({{ _('click to add') }})</h1>
      </div>
      <div class="section__body">
      {% for category, sub_categories in model.builtin.CATEGORIES %}
        <div>
          <h2 class="section__title"><a class="category-a" href="javascript:;" data-category="{{ category }}">{{ category }}</a></h2>
          <ol>
          {% for sub_category in sub_categories %}
            <li><a class="category-a typo-a" href="javascript:;" data-category="{{ sub_category }}">{{ sub_category }}</a></li>
          {% endfor %}
          </ol>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% set owner_udoc = udoc %}
    {% include "partials/problem_sidebar.html" %}
  </div>
</div>
{% endblock %}
