<dl class="large horizontal" id="summary">
  {% if rdoc['score'] is defined %}
  <dt>{{ _('Score') }}</dt>
  <dd>{{ rdoc['score'] }}</dd>
  {% endif %}
  <dt>{{ _('Total Time') }}</dt>
  <dd>{% if rdoc['status'] == status.STATUS_TIME_LIMIT_EXCEEDED or rdoc['status'] == status.STATUS_MEMORY_LIMIT_EXCEEDED or rdoc['status'] == status.STATUS_OUTPUT_LIMIT_EXCEEDED %}&ge;{% endif %}{{ rdoc.time }}ms</dd>
  <dt>{{ _('Peak Memory') }}</dt>
  <dd>{% if rdoc['status'] == status.STATUS_TIME_LIMIT_EXCEEDED or rdoc['status'] == status.STATUS_MEMORY_LIMIT_EXCEEDED or rdoc['status'] == status.STATUS_OUTPUT_LIMIT_EXCEEDED %}&ge;{% endif %}{{ rdoc.memory|format_size(1024) }}</dd>
</dl>
