{% extends "layout/basic.html" %}
{% block content %}
{{ set(UiContext, 'tdoc', tdoc) }}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Videos') }}</h1>
      </div>
      {{ noscript_note.render() }}
      {% include "partials/videos.html" %}
      {% if handler.user.own(tdoc) or
      handler.user.hasPerm(perm.PERM_EDIT_HOMEWORK) %}
      <div class="section__body">
        <button class="rounded button" name="remove_selected">{{ _('Remove Selected') }}</button>
      </div>
      {% endif %}
        <div class="section__body">
        <form method="post">
          <div class="row">
            {{ form.form_text({
                columns:3,
                label:'Video Title',
                name:'filename',
                value:'',
                row:false
            }) }}
            {{ form.form_text({
                columns:6,
                label:'Video URL',
                name:'filenameurl',
                value:'',
                row:false
            }) }}
            {% if handler.user.own(tdoc) or handler.user.hasPerm(perm.PERM_EDIT_HOMEWORK) %}
            <button name="operation" value="upload_video" type="submit" class="rounded primary button">
              {{ _('Add') }}
            </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% include "partials/homework_sidebar.html" %}
  </div>
</div>
{% endblock %}
{% block script %}
<script>

function getVideoUrl(url) {
    let tUrl = "//player.bilibili.com/player.html?bvid="+url;
    if(url.includes("bilibili")) {
       tUrl = url;
    }
    window.open(tUrl, "_blank");
}
</script>

{% endblock %}
