{% import "components/sidemenu.html" as sidemenu with context %}
{% macro render_sidebar() %}
<div class="section side">
  <ol class="menu">
    {{ sidemenu.render_item('account--circle', 'user_detail', '/user/' + handler.user._id, label='My Profile', uid=handler.user._id) }}
    {{ sidemenu.render_item('comment--multiple', 'home_messages', '/home/messages') }}
    <li class="menu__seperator"></li>
    {{ sidemenu.render_item('wrench', 'home_account', '/home/settings/account') }}
    {{ sidemenu.render_item('sliders', 'home_preference', '/home/settings/preference') }}
    {{ sidemenu.render_item('security', 'home_security', '/home/security') }}
    <li class="menu__seperator"></li>
    {{ sidemenu.render_item('file', 'home_file', '/home/file') }}
  </ol>
</div>
{% endmacro %}
