    <div class="section side">
      <div class="section__body typo">
        <dl>
          <dt>{{ _('Inline codes') }}</dt>
          <dd><pre>`std::cout()`</pre></dd>
          <dt>{{ _('Code blocks') }}</dt>
          <dd>
<pre>```c++
int main() {
  return 0;
}
```</pre>
          </dd>
          <dt>{{ _('Inline formulas') }}</dt>
          <dd><pre>$ E=mc^2 $</pre></dd>
          <dt>{{ _('Formula blocks') }}</dt>
          <dd><pre>$$ E=mc^2 $$</pre></dd>
          <dt>{{ _('Links') }}</dt>
          <dd><pre>[{{ _('Text') }}](http://...)</pre></dd>
          <dt>{{ _('Images') }}</dt>
          <dd><pre>![{{ _('Description') }}](http://...)</pre></dd>
        </dl>
        <h2>{{ _('Learn More') }}</h2>
        <ul>
          <li><a href="http://commonmark.org/help/" target="_blank"><span class="icon icon-link--external"></span> {{ _('CommonMark Syntax') }}</a></li>
          <li><a href="http://www.onemathematicalcat.org/MathJaxDocumentation/TeXSyntax.htm" target="_blank"><span class="icon icon-link--external"></span> {{ _('LaTeX Expressions') }}</a></li>
        </ul>
      </div>
    </div>
