{% macro render_inline(
  udoc,
  avatar=true,
  badge=true,
  modbadge=true
) %}
<span class="user-profile-link">
{% if avatar %}
  <img class="small user-profile-avatar v-center" src="{{ gravatar(udoc['gravatar']|default('')) }}" width="20" height="20">
{% endif %}
  <a class="user-profile-name" href="/u/{{ udoc['_id']|default(0) }}">
    {{ udoc['uname'] }}
  </a>
{% if badge %}
  <a class="user-profile-badge v-center badge--lv{{ udoc['level']|default(0) }}" href="/u/{{ udoc['_id']|default(0) }}" title="LV {{ udoc['level']|default(0) }}: Top {{ model.builtin.LEVELS[udoc['level']|default(0)]|default('N/A') }}%">LV {{ udoc['level']|default(0) }}</a>
{% if modbadge and udoc.hasPerm(perm.PERM_MOD_BADGE) %}
  <span class="user-profile-badge v-center badge--mod" title="Moderator">MOD</span>
{% endif %}
{% endif %}
</span>
{% endmacro %}
